<div class="row">
  <div class="col-md-12">
    <%= form_tag condition_path(@condition), :class => "form-horizontal", :method => "put" do %>

      <!-- Label and input for label -->
      <div class="form-group">
        <label for="label" class="col-sm-3 control-label">
          Label
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'label', @condition.label, class: 'form-control' %>
        </div>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="col-sm-3 control-label">
          Description
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'description', @condition.description, class: 'form-control' %>
        </div>
      </div>

      <!-- UPDATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= submit_tag "Update condition", :class => "btn btn-primary" %>
        </div>
      </div>

    <div class="col-md-12">
      <a href="/conditions">Go back</a>
      <br>
    </div>


    <% end %>
  </div>
</div>



