<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Status "<%= @status.label %>" data</h3>
    <dl class="dl-horizontal">
      <dt>Label</dt>
      <dd><%= @status.label %></dd>
    </dl>
    <%= link_to "Go back", statuses_path %>
    <br>
    </div>
  </div>
</div>
