<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @sell %>
      <%= link_to "Sell new item", "/sell/new", :class => "btn btn-lg btn-primary btn-block"%>
      <p>&nbsp</p>
      <h3>Items you are currently selling</h3>
    <% end %>
    <% @items.each do |item| %>
      <div class="col-md-6 browse-item">
        <div class="browse-item-picture-frame">
          <a href="/item_display"><img class="browse-item-picture" src="http://dnok91peocsw3.cloudfront.net/product/2540-236x236-1309894281-primary.png"></a>
          <div class="browse-item-social">
            <span style="font-size: 40px" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
          </div>
        </div>
        <div class="browse-item-data">
          <div class="browse-item-name-frame">
            <a class="browse-item-name" href="/item_display/<%= item.id %>"><%= item.title %></a>
          </div>
          <div class="browse-item-price-frame">
            <a class="browse-item-price" href="/item_display">$88.88</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
