<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <p>Hi,</p>
    <p>A new user just registered into MPPbay!</p>
    <ul>
      <li>Name: <%= @user.name %></li>
      <li>Email address: <%= @user.email %></li>
    </ul>
  </body>
</html>
