<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Picture <%= @picture.id %> data</h3>
    <dl class="dl-horizontal">
      <dt>Item ID</dt>
      <dd><%= @picture.item_id %></dd>
      <dt>Address</dt>
      <dd><%= @picture.picture_address %></dd>
    </dl>
    <%= link_to "Go back", pictures_path %>
    <br>
    </div>
  </div>
</div>
