<div class="row">
  <div class="col-md-12">
    <%= form_tag price_path(@price), :class => "form-horizontal", :method => "put" do %>
      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="col-sm-3 control-label">
          item_id
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'item_id', @price.item_id, class: 'form-control' %>
        </div>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="col-sm-3 control-label">
          price
        </label>
        <div class="col-sm-4">
          <%= text_field_tag 'price', @price.price, class: 'form-control' %>
        </div>
      </div>

      <!-- UPDATE BUTTON -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
          <%= submit_tag "Update price", :class => "btn btn-primary" %>
        </div>
      </div>

    <div class="col-md-12">
      <a href="/prices">Go back</a>
      <br>
    </div>
    <% end %>
  </div>
</div>



