<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Price data</h3>
    <dl class="dl-horizontal">
      <dt>Item</dt>
      <dd><%= @price.item.title %></dd>
      <dt>Value</dt>
      <dd><%= @price.value %></dd>
    </dl>
    <%= link_to "Go back", prices_path %>
    <br>
    </div>
  </div>
</div>
