<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Price data</h3>
    <dl class="dl-horizontal">
      <dt>Item ID</dt>
      <dd><%= @price.item_id %></dd>
      <dt>Price</dt>
      <dd><%= @price.price %></dd>
    </dl>
    <%= link_to "Go back", prices_path %>
    <br>
    </div>
  </div>
</div>
