<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Address #<%= @address.id %> data</h3>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @address.full_name %></dd>
    </dl>
    <%= link_to "Go back", addresses_path %>
  </div>
</div>
