<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Help</h1>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <h3>Account</h3>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1-1">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1-1" aria-expanded="false" aria-controls="collapse1-1">
              I’m unable to enter the website, it says "your email address cannot participate in the beta yet"
            </a>
          </h4>
        </div>
        <div id="collapse1-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1-1">
          <div class="panel-body">
            <p>We are currently in test phase and therefore we are limiting the access to the website to a few universities. That said, let us know you are interested in joining to put you ahead of the line in the roll out!</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1-2">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse1-2" aria-expanded="false" aria-controls="collapse1-2">
            Does my information get shared?</a>
          </h4>
        </div>
        <div id="collapse1-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1-2">
          <div class="panel-body">
            <p>No. However, be advised that your contact email will be available alongside the item you are selling, so potential buyers can get in touch with you.</p>
          </div>
        </div>
      </div>

      <h3>Buying</h3>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2-1">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2-1" aria-expanded="false" aria-controls="collapse2-1">
              How do I make a purchase?
            </a>
          </h4>
        </div>
        <div id="collapse2-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2-1">
          <div class="panel-body">
            <ul>
              <li>Sign up to the Mppbay website</li>
              <li>Click on the “buy” button above</li>
              <li>Look for items that might interest you. If there is something you might find useful, you can click on “add to cart”</li>
              <li>When you are done, it is time to checkout. You can click on "Your cart" button at the top of the screen and click on "make an offer" to send an email to the seller of the item</li>
              <li>Our job is done here. Now it is up to you and the seller to negotiate prices, payments, delivery, etc.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2-2">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2-2" aria-expanded="false" aria-controls="collapse2-2">
              Paying for the goods
            </a>
          </h4>
        </div>
        <div id="collapse2-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2-2">
          <div class="panel-body">
            The payment has to be arranged between you and the seller - we do not get involved in any financial transaction.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2-3">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2-3" aria-expanded="false" aria-controls="collapse2-3">
              Getting the goods
            </a>
          </h4>
        </div>
        <div id="collapse2-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2-3">
          <div class="panel-body">
            The delivery of the purchases needs to be arranged between you and the seller. We do not get involved in this, however we allow the seller to show where he/she is located so you can buy from where is more convenient to you, if needed.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2-4">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2-4" aria-expanded="false" aria-controls="collapse2-4">
              Buying several items at once
            </a>
          </h4>
        </div>
        <div id="collapse2-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2-4">
          <div class="panel-body">
            You can group several different items from the same seller into a single offer, so you don't have to send several repeated emails. To do this, just click on "Add to cart" button for each item you desire. After you are done, click on "Your cart" at the top of the screen and you can see the list of products on your cart, for each seller. When you click "Make offer" you bundle all the products from that seller in a single offer.
          </div>
        </div>
      </div>

      <h3>Selling</h3>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3-1">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3-1" aria-expanded="false" aria-controls="collapse3-1">
              How to put something on sale
            </a>
          </h4>
        </div>
        <div id="collapse3-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3-1">
          <div class="panel-body">
            <ul>
              <li>Sign up to the Mppbay website</li>
              <li>Click on the "sell" button above</li>
              <li>Now you have to fill the form with the information of the item you want to sell. You don't to fill everything.</li>
              <li>When you are done, you can either put on sale as soon as possible, or you can save as a draft and work on that afterwards.</li>
              <li>Your drafts are under "Your account" button at the top of the page. There you can make the finishing toughes of your item, or you can put on sale.</li>
              <li>Congratulations! Your item is on sale!</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading3-2">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3-2" aria-expanded="false" aria-controls="collapse3-2">
              How to close a sale
            </a>
          </h4>
        </div>
      <div id="collapse3-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3-2">
        <div class="panel-body">
          <p>Hopefully at some moment you are going to get an email from us telling that someone has made an offer for yout item. Then it is up to you two to exchange emails to set prices, payment, delivery, etc. If you closed a sale with someone, please don’t forget to take it out from the marketplace! It is very frustrating for someone to have interest in an item just to find out afterwards you’ve already sold.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading3-3">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3-3" aria-expanded="false" aria-controls="collapse3-3">
            How to increase odds of selling something
          </a>
        </h4>
      </div>
      <div id="collapse3-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3-3">
        <div class="panel-body">
          <p>In general, the more detailed information you provide about your item, them better. Objective descriptions (such as: condition of the item, material, etc) yield more sales than generic descriptions (“awesome table”) or no descriptions at all. Besides, people like to have bigger items available near them, so you can put the city where it is (say, Chicago)</p>
        </div>
      </div>
    </div>

    <h3>Other questions</h3>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4-1">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4-1" aria-expanded="false" aria-controls="collapse4-1">
              Bugs and other problems in the site
            </a>
          </h4>
        </div>
        <div id="collapse4-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-1">
          <div class="panel-body">
            MPPbay started as a weekend project and therefore is still has lots of bugs! If you find something wrong, please <%= mail_to ENV["SUPPORT_EMAIL"], "let us know" %> so we can fix it!
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading4-2">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4-3" aria-expanded="false" aria-controls="collapse4-3">
             Suggestions for improvement
            </a>
          </h4>
        </div>
        <div id="collapse4-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4-3">
          <div class="panel-body">
            If you think anything can be improved in the website, please <%= mail_to ENV["SUPPORT_EMAIL"], "let us know" %>. We are eager to listen to your feedback and improve our services.
          </div>
        </div>
      </div>
    </div>

    <br>
    <h1>I still need help</h1>
    <p>Still need further help? Then send email us at <%= mail_to ENV["SUPPORT_EMAIL"], ENV["SUPPORT_EMAIL"] %></p>
    <br>
    <br>
    <%= link_to "Go back", :back %>
  </div>
</div>
