<div class="jumbotron-main">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
    <h1 class="jumbotron-text" style="color: white">Helping you buy and sell stuff</h1>
    <p class="jumbotron-text">Looking to equip your new home? Or maybe you need to sell your stuff? With MPPbay you can buy and sell with other people near you - the easy way</p>
    <% if user_signed_in? %>
      <p class="jumbotron-text"><%= link_to "Start now", buy_path, class: "btn btn-primary btn-lg" %></p>
    <% else %>
      <p class="jumbotron-text"><%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center">How it works?</h2>
      <div class="col-md-6 col-md-offset-3">
        <p>MPPbay was created having the MBA student in mind, who needs to move to another city for 2 years and then moving somewhere else. Most of them has the pain to find second-hand stuff to equip theirarse home, and/or need to get rid of their stuff some time before graduating</p>
        <p>Based on that, registered users can look for items other people are selling and arrange a deal with them - making the process of looking for a deal easier (or at least better than asking to friend on Facebook to forward a spreadsheet)</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center">FAQ</h2>
      <div class="col-md-6 col-md-offset-3">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Is this for real?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                Yes. Why shouldn't?
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does it work?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                You click the button above, create your account and look for stuff to buy, or register something to sell. Simple as that.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Is this free?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Yes, we do not intend to make money on this - we are more interested in learning how to build a website. Besides, we get our US visas cancelled if we charge something - so we better stay low.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Can I have an account?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                So far we are in a beta phase, so we are limiting the people who can access the website (it is under development, you know...). Yes, having so few users is really bad for a marketplace. We are aware of that.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Do we buy it from you?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                No. You buy from other users. We are just the middlemen. By the way, you don't make any financial transaction through us - you and the other party arrange the transaction between you only.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

