<div class="jumbotron-main" style="background-image: url(<%= asset_path('jumbotronv2.jpg') %>)">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
    <h1 class="jumbotron-text" style="color: white">Helping students make deals with other students</h1>
    <p class="jumbotron-text">Looking to equip your new home? Or maybe you want to sell your textbook? With MPPbay you can trade with other students like you</p>
    <% if user_signed_in? %>
      <p class="jumbotron-text"><%= link_to "Start now", buy_path, class: "btn btn-primary btn-lg" %></p>
    <% else %>
      <p class="jumbotron-text"><%= link_to "Sign up now", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
    <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center">How it works?</h2>
      <div class="col-md-6 col-md-offset-3">
        <p>MPPbay was created to help students to trade with each other.Most of them have the pain to find and buy second-hand furniture, books, etc., and then want to sell everything before graduating and moving somewhere else.</p>
        <p>With MPPbay, you can look for items other students just like you are selling and arrange a deal with them - making the dealmaking process centralized and easier</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center">FAQ</h2>
      <div class="col-md-6 col-md-offset-3">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  What is your mission?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                Our mission is to take over the world. However, we need to start small, so we created a marketplace dedicated to help students buy and sell goods among each other
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does it work?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                You want to buy? Just sign up and look for goods others are selling, select items you want to buy and we will contact the seller. If you want to sell, just sign up and register the goods you want to sell, and we will make it available for students living near you.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Is this free?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                Yes, this is free! Our intention is to make student's lifes easier. Besides, we cannot charge anything otherwise our student become are voided and we get deported.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Who can register at MPPbay?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                We are in beta phase, so we are limiting the people who can access the website - for now, only students from the University of Chicago can sign in in the website.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Do we buy it from you?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                No. You buy from other students. We are just the middlemen - we put you in contact with the other party and the final negotiation and payment is made between you.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

