<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3><%= @availability.name %> data</h3>
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @availability.name %></dd>
      <dt>Email filter</dt>
      <dd><%= @availability.email_filter %></dd>
    </dl>
    <%= link_to "Go back", availabilities_path %>
    </div>
  </div>
</div>
